[tool.ruff]
ignore = [
    "E501",
]
select = [
    "E",    # pycodestyle errors
    "W",    # pycodestyle warnings
    "F",    # Pyflakes
    "Q",    # flake8-quotes
    "T201"  # flake8-print
]

[tool.pytest.ini_options]
testpaths = ["tests"]
filterwarnings = [
    "error",
    "ignore:^.*pkg_resources.*:DeprecationWarning",
    "ignore::sqlalchemy.exc.MovedIn20Warning",
    "ignore:^.*You are trying to use a chat model. This way of initializing it is no longer supported. Instead, please use: .*:UserWarning",
]
markers = [
    "external: interacts with a (potentially cost-incurring) third-party API"
]
