For each of the MENTIONS in the TEXT, resolve the MENTION to the correct entity listed in ENTITIES. Each of the MENTIONS in the TEXT is surrounded by *.
For each of the MENTIONS appearing in the text, output the number of the description fitting them best. This number has to be surrounded by single <>, for example <1>.
Make sure you make a choice for each of the MENTIONS. Prefix the solution for each MENTION with "--- ". For each MENTION, describe your reasoning process in a single sentence.

{# whitespace #}
{%- if examples -%}
Below are some examples (only use these as a guide):
{# whitespace #}
{%- for example in examples -%}
{# whitespace #}
TEXT:
'''
{{ example.text }}
'''
MENTIONS: {{ example.mention_str }}
ENTITIES:
{%- for mention, ent_descs in zip(example.mentions, example.entity_descriptions) -%}
- For *{{ mention }}*:
{%- for i, ent_desc in enumerate(ent_descs) -%}
    {{ i }}. {{ ent_desc }}
{%- endfor -%}
{%- endfor -%}
SOLUTION:
{%- for idx, solution, reason in enumerate(zip(example.solutions, example.reasons)) -%}
--- <{{ solution }}> {{ reason }}
{%- endfor -%}
{# whitespace #}
{%- endfor -%}
{# whitespace #}
{%- endif -%}

TEXT: 
'''
{{ text }}
'''
MENTIONS: {{ mentions_str }}
ENTITIES:
{%- for mention, ent_descs in zip(mentions, entity_descriptions) -%}
- For *{{ mention }}*:
{%- for i, ent_desc in enumerate(ent_descs) -%}
    {{ i }}. {{ ent_desc }}
{%- endfor -%}
{%- endfor -%}
SOLUTION: